

.container {
    position: absolute;
    top:5vh;
    left: 15vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    width:80vw;
    height:90vh;
}

.container  p {
    font-size: 5rem;
}