body {
  background-color: #f2ebde;
}

#mainmenu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.mmpart {
  width: 10px;
  height: 4px;
  background-color: black;
}

#intro {
  width: 70%;
  border: 2px dashed red;
}

.author {
  /* width:;
  height:; */
  background-color: #ffffff;
}

#intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.author-img {
  width: 100%;
  height: auto;
  /* border-radius: 50% 50% 50% 50%; */
}
