body {
  background-color: #f2ebde;
}

#side-bar {
  position: fixed;
  background-color: #c7beb4;
  padding: 1%;
  margin: 0;
  border-radius: 10px;
}

#mainmenu {
  background: none;
  border-color: #f2ebde;
  border: none;
  padding: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
#mainmenu:hover,
#filter-button:hover,
#author-button:hover,
#font-button:hover {
  cursor: pointer;
}
.mmpart {
  width: 1.5rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 100px;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0%;
}
#menu ul li {
  line-height: 2.5;
  text-align: center;
}
#menu ul li a {
  display: block;
  text-decoration: none;
  color: black;
  background-color: #c7beb4;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}
#menu ul li a:hover {
  background-color: #89827b;
  transform: scale(1.05);
}

#initial-page {
  display: block;
}

#initial-page.hidden {
  display: none;
}

#logo {
  width: 50%;
  height: 30%;
  object-fit: cover;
  border-radius: 30px;
  position: absolute;
  top: 15%;
  left: 25%;
}

#input-sys {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 60%;
  height: 8%;
}

#filter {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -78%;
  left: 96.75%;
  background-color: #ffa629;
  border-radius: 2rem;
  width: 4%;
  height: 4%;

  transition: width 0.2 ease;
  /* overflow: hidden; */
}

#filter.expand {
  width: 10%;
  height: auto;
}

#filter-button,
#author-button,
#font-button {
  width: 100%;
  height: auto;
  border-radius: 999rem;
  border: 0;
  margin-bottom: 0.5%;
  background-color: #ffa629;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding-top: 10%;
}

#filter-button {
  transition: width 0.2 ease;
}

#filter-button span,
#author-button,
#font-button,
#options {
  display: none;
}

#filter-button span.show {
  display: inline;
}

#author-button.show,
#font-button.show {
  display: inline-block;
}

.icon-btn:hover,
#filter-button:hover,
#author-button:hover,
#font-button:hover {
  background-color: #e59525;
}
.icon-btn i {
  font-size: 1.7rem;
  width: 35%;
}
.icon-btn span,
.option-list label {
  font-size: 1rem;
}

.option-list {
  display: flex;
  flex-direction: column;
}

#filter-button.hidden {
  width: 35%;
}

#authors,
#fonts {
  height: 0;
  transition: height 0.2 ease;
}
#authors.expand {
  height: auto;
}
#fonts.expand {
  height: auto;
}

/* Filter 容器 */
/* #filter {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 51.9%;
  left: 76.7%;
  background-color: #ffa629;
  border-radius: 20px;
  max-width: 5.6rem;
}

#filter-button,
#author-button,
#font-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.3s ease;
  height: 2rem;
  background-color: #ffa629;
  border-radius: 999rem;
  border: none;
  text-align: center;
}


#filter-button span {
  opacity: 0;
  white-space: nowrap;
  margin-left: 0.5rem;
  transition: opacity 0.2s ease;
}


#filter-button {
  width: 2rem;
}


#filter-button.expanded {
  width: 5.6rem;
}

#filter-button.expanded span {
  opacity: 1;
}


#author-button {
  display: none; 
  width: 5.6rem; 
  margin-top: 0.5rem;
}

#font-button {
  display: none; 
  width: 5.6rem; 
  margin-top: 0.5rem;
}


#author-button span,
#font-button span {
  opacity: 1;
  white-space: nowrap;
}


#filter-button i,
#author-button i,
#font-button i {
  font-size: 1.2rem;
  flex-shrink: 0;
  text-align: center;
}


#authors,
#fonts {
  display: none;
  flex-direction: column;
  margin-left: 0rem;
  margin-top: 0.3rem;
}


#authors.show,
#fonts.show {
  display: flex;
}


#filter-button:hover,
#author-button:hover,
#font-button:hover {
  background-color: #e6a100;
}

input[type="checkbox"] {
  accent-color: #e6a100;
}
.option-list label,
.option-list input {
  cursor: pointer;
} */

.inputbox {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  background-color: #c7beb4;
  color: black;
  border: none;
  border-radius: 999rem;
  position: relative;
  top: 0%;
  left: 0%;
  padding-left: 2.5%;
}
.inputbox::placeholder {
  border: none;
  color: black;
  text-align: center;
}
.inputbox:focus {
  outline: none;
  border: none;
  padding: none;
}
.inputbox:focus::placeholder {
  opacity: 0;
}

#intro {
  width: 70%;
  border: 2px dashed red;
}

.author {
  /* width:;
  height:; */
  background-color: #ffffff;
}

#intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.author-img {
  width: 100%;
  height: auto;
  /* border-radius: 50% 50% 50% 50%; */
}

#initial-page {
  display: block;
}

#initial-page.hidden {
  display: none !important;
}

.hidden {
  display: none;
}
#side-bar.side-bar-hidden {
  background-color: #f2ebde;
}
